# This workflow will build and test your Maven project when a release is created, or when changes are pushed to the master branch

name: API Testing

on:
  push:
    branches:
      - master
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Build and Test
      run: mvn clean install

